a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-logo,
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.page-logo-accent {
  color: #2e2f42;
}

.menu-link,
.menu-link-studio {
  font-weight: 500;
  color: #2e2f42;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-link:active {
  text-decoration: underline;
}

.page-address {
  font-style: normal;
}

.contact-link {
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
}

.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-button {
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  line-height: inherit;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.solutions-title,
.team-title,
.portfolio-list-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.solutions-text,
.team-text,
.portfolio-text {
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
}

.team-list-item {
  text-align: center;
  background-color: #ffffff;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
