body {
  font-family: 'Roboto', 'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.64px;
  color: #ffffff;
  background-color: #4d5ae5;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

.nav-logo-link {
  color: inherit;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.accent {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.nav-links a {
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #404bbf;
}

.studio:active {
  text-decoration: underline;
}

.contact-links a {
  color: #434455;
  font-style: normal;
}

.contact-links a:hover,
.contact-links a:focus {
  color: #404bbf;
}

h1 {
  line-height: 1.07;
  font-size: 56px;
  letter-spacing: 1.12px;
  color: #ffffff;
  background-color: #2e2f42;
  text-align: center;
}

h2 {
  font-size: 36px;
  letter-spacing: 0.72px;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.4px;
  font-weight: 500;
}

p {
  color: #434455;
}

.hero-section {
  background-color: #2e2f42;
}

.team-section {
  background-color: #f4f4fd;
}

.footer-logo-link {
  color: #f4f4fd;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  color: #f4f4fd;
}

footer {
  background-color: #2e2f42;
}
